<footer class="bg-gray-900 p-6 md:p-10 md:px-12 font-sans tracking-wide flex flex-col gap-6">
  <div class="flex flex-col md:flex-row gap-8 py-6 border-b border-gray-300">
    <div class="flex flex-col gap-6">
        <a href="/">
            <h1 class="logo text-center text-white flex text-5xl font-sans">
                <span>B</span>
                <span>u</span>
                <span>n</span>
                <span>n</span>
                <span>y</span>
                <span>&nbsp;</span>
                <span>h</span>
                <span class="text-yellow-400">O</span>
                <span>p</span>
            </h1>
        </a>
        <p class="text-gray-300 text-sm w-full lg:w-[50%] leading-6">Our store is thoughtfully designed to bring comfort, quality, and cuteness together, offering a delightful collection of baby clothing.</p>
       <div class="flex gap-2">
            <a href="https://www.instagram.com/shopbunnyhop_21/" target="_blank">
                <i class="text-white hover:text-gray-300 text-xl ri-instagram-line"></i>
            </a>
            <a href="https://www.facebook.com/share/1Dps4pQwjR/" target="_blank">
                <i class="ri-facebook-line text-xl text-white hover:text-gray-300"></i>
            </a>
            <a href="tel:03138190150" target="_blank">
                <i class="ri-phone-line text-xl text-white hover:text-gray-300"></i>
            </a>
            
       </div>
    </div>


    <div class="flex items-center md:justify-end gap-6 w-full lg:w-[50%]">
        <div class="flex flex-col gap-4">
            <h1 class="text-white font-medium md:text-xl">Company</h1>
            <a href="/about" class="text-sm text-gray-300 hover:text-white capitalize">about</a>
            <a href="" class="text-sm text-gray-300 hover:text-white capitalize">contact</a>
            <a href="/" class="text-sm text-gray-300 hover:text-white capitalize">baby arrival</a>
        </div>
        <div class="flex flex-col gap-4">
            <h1 class="text-white font-medium md:text-xl">Customer Service</h1>
            <a href="/shipping-delivery" class="text-sm text-gray-300 hover:text-white capitalize">Shiping & Delivery</a>
            <a href="/track-order" class="text-sm text-gray-300 hover:text-white capitalize">Track your Order</a>
            <a href="/return-exchange" class="text-sm text-gray-300 hover:text-white capitalize">Return & Exchange</a>
        </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center md:items-end justify-between">
    <p class='text-gray-300 hover:text-white text-sm mt-10'>
        <a class="hover:underline mx-1" id="copyright"></a>
        All Rights Reserved.
    </p>
    <div class="flex gap-2">
        <div>
            <a href="/privacy-policy" class="text-gray-300 hover:text-white text-sm underline">Privacy Policy</a>
        </div>
        <div>
            <a href="/terms-of-service" class="text-gray-300 hover:text-white text-sm underline">Terms of Services</a>
        </div>
    </div>
  </div>

  <script>
    const year = new Date().getFullYear();
    document.getElementById("copyright").textContent = `© ${year} BunnyHop.`;
  </script>
</footer>


<script src="/javascripts/header.js"></script>
<script src="/javascripts/index.js"></script>
        
</body>
</html>