<footer class="bg-gray-900 p-10 px-12 font-[sans-serif] tracking-wide">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
      <div class="flex sm:justify-start ">
          <a href="/">
              <h1 class="logo text-center text-white flex text-5xl font-sans">
                    <span>B</span>
            <span>u</span>
            <span>n</span>
            <span>n</span>
            <span>y</span>
            <span>&nbsp;</span>
            <span>h</span>
            <span class="text-yellow-400">O</span>
            <span>p</span>
              </h1>
          </a>
      </div>

      <div class="flex sm:justify-center sm:items-center">
        <ul class="flex flex-col sm:flex-row sm:space-x-8 lg:gap-32 sm:items-center">
            <h4 class="text-lg font-semibold mb-4 whitespace-nowrap text-white  sm:absolute sm:hidden">Social Links</h4>
            <li class="mt-2 sm:mt-0">
                <a class="flex flex-col sm:items-center" href="https://www.instagram.com/shad.codes/">
                    <i class="text-white text-3xl ri-instagram-line"></i>
                    <h2 class="text-white text-xs">@Shad.codes</h2>
                </a>
            </li>
            <li class="mt-2 sm:mt-0">
                <a class="flex flex-col sm:items-center" href="https://in.linkedin.com/in/shad-khan00">
                    <i class="text-white text-3xl ri-linkedin-box-line"></i>
                    <h2 class="text-xs text-white">@Shad</h2>
                </a>
            </li>
            <li class="mt-2 sm:mt-0">
                <a class="flex flex-col sm:items-center" href="https://github.com/shadyx6">
                    <i class="text-white text-3xl ri-github-fill"></i>
                    <h2 class="text-xs text-white">@Shadyx6</h2>
                </a>
            </li>
        </ul>
    </div>

      <div class="flex sm:justify-end items-center">
          <div class=" sm:text-center">
            
              <h4 class="text-lg font-semibold mb-6 text-white">Contact Me</h4>
              <ul class="space-y-4">
                  <li>
                      <a href="mailto:shadkhanxox@gmail.com" class="text-gray-100 font-bold hover:text-white text-sm"> <span class="text-gray-200 text-xs"> <i class="ri-mail-open-line text--200"></i> Email: </span> shadkhanxox@gmail.com</a>
                  </li>
                  <li>
                      <a href="tel:+919098737124" class="text-gray-300 hover:text-white text-sm"><i class="ri-phone-line"></i>+91 9098737124</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>

  <p class='text-gray-300 text-sm mt-10 sm:text-left'><a class="hover:underline mx-1">Shad Khan</a> All Rights Reserved.</p>
</footer>

<script src="/javascripts/header.js"></script>
<script src="/javascripts/index.js"></script>
        
</body>
</html>