<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Return and Exchange Policy</title>
</head>

<body>
 <%- include('./partials/Header.ejs') %>

   <div class="flex justify-center flex-col gap-4 px-10 py-6 min-h-screen">
        <h1 class="text-3xl text-center text-yellow-400">Return and Exchange Policy</h1>
        <div class="md:text-xl text-black text-left">
           Thank you for shopping with us! 💛 At this time, we are unable to offer returns or exchanges, and all sales are final
        </div>
        <div class="md:text-xl text-black">
            This policy is in place to ensure quality, safety, and fair pricing for all customers. We encourage you to read product descriptions, sizing information, and specifications carefully before ordering. If you receive a damaged or incorrect item, please contact us within 48 hours and we will work to resolve the issue.
        </div>
    </div>

  <%- include('./partials/Footer.ejs') %>

</body>
</html>