<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Terms of Services</title>
</head>

<body>
 <%- include('./partials/Header.ejs') %>

  <div class="flex justify-center items-center flex-col gap-4 px-10 py-6 min-h-screen">
    <h1 class="text-3xl text-yellow-400">Terms of Services</h1>
    <div class="md:text-xl text-black">
        By placing an order, you agree to our Terms of Service. We deliver best-quality clothes made with premium materials. Please review your order carefully before confirming, as we maintain a no-refund, no-exchange, and no-return policy on all purchases.
    </div>
    <div class="md:text-xl text-black">
      We guarantee top-tier standards and do our best to ensure complete customer satisfaction with our clothes. Cash on Delivery(COD) is available for eligible locations. Free delivery is available on orders above 3000.
    </div>
    <div class="md:text-xl text-black">
      By completing your purchase, you acknowledge and accept these conditions.
    </div>
  </div>

  <%- include('./partials/Footer.ejs') %>

</body>
</html>

