<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Track your order</title>
</head>

<body>
 <%- include('./partials/Header.ejs') %>

   <div class="flex justify-center items-center flex-col gap-4 px-10 py-6 h-[60vh]">
        <h1 class="text-3xl text-yellow-400">Track your Order</h1>
        <div class="text-xl text-black">
           Comming Soon!
        </div>
    </div>
  <%- include('./partials/Footer.ejs') %>

</body>
</html>